
body{
    background-color: #f5f8f9;
}

header{
    background-color: white;
}

/* header settings */

.intestation{
    vertical-align: middle;
    display: inline-block;
}

.intestation.logo{
    display: inline-block;
    font-size: 2em;
}

/* /header settings */

/* background color and set */

.background{
    background-color: white;
    padding: 10px 70px;
    border-radius: .7em;
}

.background.central-main{
    margin:.5% 20% 40%;
}

.background.navigation-bar{
    margin:4% 20% .2%;
}

/* /background color and set */

/* button */

.button{
    padding: .6em;
    border-radius: 5px;
    margin: none;
}

.button.add-task{
    background-color: #47aef1;
    color: white;
    border: none;
}

.button.add-section{
    background-color: white;
    color: gray;
    border: 1px solid lightgray;
}

/* /button */

/* settings box */

.box{
    color: white;
    padding: .5em;
    font-size: 8pt;
    border-radius: .7em;
}

.box.editorial{    
    background-color: #46acea;
}

.q1-goals{
    background-color: #9d72e4;
}


.box.recruiting{
    background-color: #64c0a9;
}

.box.mobile{
    background-color: #f29e33;
}


.box.website{
    background-color: #d763a1;
}

.box.sales{
    background-color: #b1c925;
}

/* /settings box */

/* entity check y/n */

.check{
    border: 2px solid;
    border-radius: 20px;
}

.check.yes{
    color: rgb(115, 192, 0);
}

.check.no{
    color: red;
}

/* /entity check y/n */

/* margin span/div */

.today-margin{
    margin-top: 1em;
}

/* /margin span/div */
