
#h1-first-intestation{
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
}

.logo-first-intestation{
    margin-left: 10px;
    vertical-align: middle;
}

main{
    background-color: #f5f8f9;
}

.background-navigation-bar{
    background-color: white;
    margin: 50px 300px 5px;
    padding: 5px 70px;
}

button{
    border-radius: 5px;
    margin: none;
}

.button-add-task{
    background-color: #47aef1;
    color: white;
    border: none;
    padding: .6em;
}

.button-add-section{
    background-color: white;
    color: gray;
    border: 1px solid lightgray;
    padding: .6em;
}